@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar{
  width: 0.50rem;
}

body::-webkit-scrollbar-track{
  background: black;
}

body::-webkit-scrollbar-thumb{
  background: slateblue;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 100px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(5, 1, 80);
  border-bottom: rgb(12, 3, 168) 5px solid;
}

header #logo{
  color: white;
  font-size: 2em;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  border: black 5px solid;
}

header .navigation{
  position: relative;
  line-height: 75px;
}

header .navigation .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  list-style: none;
}

.menu-item > a{
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  margin: 0 20px;
  padding: 25px 0;
}

header .navigation .menu .menu-item:hover{
  border-bottom: 5px solid white;
}

.sub-item{
  display: none;
}

.slider{
  position: relative;
  top: 111.67px;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  margin-bottom: 1000px;
}

.slides{
  height: fit-content;
  width: 500%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 1s;
}

.slide img{
  width: 100%;
  height: fit-content;
}

.slides input{
  display: none;
}

.navigation-manual{
  position: absolute;
  width: 100%;
  margin-top: 690px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: white;
}

#rad1:checked ~ .first{
  margin-left: 0;
}

#rad2:checked ~ .first{
  margin-left: -20%;
}

#rad3:checked ~ .first{
  margin-left: -40%;
}
